<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="edurideViewCategory"
            name="EduRide">
      </category>
      <view
            name="EduRide Feedback"
            icon="icons/16		JavaCore.add-tag-pencil.gif"
            category="edurideViewCategory"
            class="edu.berkeley.eduride.feedbackview.views.FeedbackView"
            id="plugin.views.FeedbackView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="stack"
			   id="plugin.views.FeedbackView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         id="FeedbackViewTestRunListener"
         name="edu.berkeley.eduride.feedbackview.model.FeedbackViewTestRunListener"
         point="org.eclipse.jdt.junit.testRunListeners">
         <testRunListener class = "edu.berkeley.eduride.feedbackview.controller.JUnitRunListener"/>
   </extension>
   <extension
         name="FeedbackView"
         point="EduRideBasePlugin.startup">
      <startup
            class="edu.berkeley.eduride.feedbackview.EarlyStartup">
      </startup>
   </extension>

</plugin>
